[http]
	sslVerify = false
[user]
	name = KeishiIshihara
	email = ishihara@aisl.cs.tut.ac.jp
	# name = keishish
	# email = keishish@student.uef.fi
[core]
	editor = vim
[alias]
	s = status
	ss = status -s
	sh = show
	a = add
	co = commit
	c = commit
	d = diff

	