# Retain bundle folder for vim plugins
.vim/bundle/*
!.vim/bundle/.gitkeep

# Ignore backup files
*~

Ricty
test
fonts

# submodule化しても良いがinit時にgit cloneするので
# git管理しなくよいファイル
# .tmux-powerline # 追記：オリジナルの設定をこの中に保存するので
#                 # これもgit管理する
# fonts

maketest.mk
backup
