# .gitignore

*~

# macOS
.DS_Store

# Retain bundle folder for vim plugins
.vim/bundle/*
!.vim/bundle/.gitkeep

# Ignore backup files
backup
.vscode/older_settings
envar_backup

# font
Ricty
fonts

# other temporary files
maketest.mk
tex_test
colortest
test
.aisl_ssh_list
